<% if canned_foods.present? %>
  <% canned_foods.each do |canned_food| %>
    <%= render "public/canned_foods/index.html.erb", canned_food: canned_food %>
  <% end %>
  
  <!-- is_canned_statusがtrueの缶詰が１つもない場合の表示 -->
  <% if canned_foods.none? { |canned_food| canned_food.is_canned_status == true } %>
    <div class="col text-center justify-content-center">
      <h3>缶詰が見つかりませんでした。</h3>
    </div>
  <% end %>
<% else %>
  <div class="col text-center justify-content-center">
    <h3>缶詰が見つかりませんでした。</h3>
  </div>
<% end %>