<div class="row my-3 text-center justify-content-center">
  <div class="col-lg-3 col-md-12 mb-2">
    <h6>評価の高い順</h6>
  </div>
  <div class="col-lg-6 col-md-12">
    <%= link_to "賞味期限評価", url_for(sort_review: 'expiry_date_rating', expiry_date_rating: expiry_date_rating, taste_rating: taste_rating, snack_rating: snack_rating, outdoor_rating: outdoor_rating, word: word, tag_id: tag_id, only_path: true) %>
    |
    <%= link_to "おいしさ評価", url_for(sort_review: 'taste_rating', expiry_date_rating: expiry_date_rating, taste_rating: taste_rating, snack_rating: snack_rating, outdoor_rating: outdoor_rating, word: word, tag_id: tag_id, only_path: true) %>
    |
    <%= link_to "おつまみ評価", url_for(sort_review: 'snack_rating', expiry_date_rating: expiry_date_rating, taste_rating: taste_rating, snack_rating: snack_rating, outdoor_rating: outdoor_rating, word: word, tag_id: tag_id, only_path: true) %>
    |
    <%= link_to "アウトドア評価", url_for(sort_review: 'outdoor_rating', expiry_date_rating: expiry_date_rating, taste_rating: taste_rating, snack_rating: snack_rating, outdoor_rating: outdoor_rating, word: word, tag_id: tag_id, only_path: true) %>
  </div>
</div>