<div class="container">
  <div class="row my-5">
    <h2 class="px-3 text-center">
      <% if @tag.present?  %>
        "<%= @tag.name %>"の検索結果
      <% else %>
        ""検索結果
      <% end %>
    </h2>
  </div>
  
  <%= render "search", canned_foods: @canned_foods %>
  
  <div class="row">
    <div class="mx-auto my-2">
      <%= paginate @canned_tags %>
    </div>
  </div>
</div>