<div class="container">
  <div class="row my-5">
    <h2 class="px-3 text-center">
      フォロー一覧
    </h2>
    <div class="ml-3 d-flex align-items-center">
      (フォロー数：<%= current_member.followings.count %>,フォロワー数：<%= current_member.followers.count %>)
    </div>
  </div>
  
  <% if @members.exists? %>
    <%= render "list", members: @members %>
  <% else %>
    <div class="row my-3 justify-content-center text-center">
      <%= link_to members_my_page_path, class: 'nav-link' do %>
        <h3>フォロー中の会員はいません</h3>
      <% end %>
    </div>
  <% end %>
</div>