<div class="container">
  <div class="row my-5">
    <h2 class="col-md-auto col-sm-12 px-3 text-center">缶詰一覧</h2>
    
    <div class="search_form offset-1 d-flex align-items-center">
      <%= render "admin/searches/form", word: "缶詰名", range: "缶詰"  %>
    </div>
  </div>
  
  <div class="row justify-content-end">
    <div class="col-lg-2 col-md-12 text-center">
      <h5>
        <%= link_to new_admin_canned_food_path do %>
          新規追加
          <i class="fas fa-plus-circle"></i>
        <% end %>
      </h5>
    </div>
  </div>
    
  <div class="row">
    <%= render "admin/canned_foods/list", canned_foods: @canned_foods %>
  </div>
  
  <div class="row">
    <div class="mx-auto my-2">
      <%= paginate @canned_foods %>
    </div>
  </div>
</div>