<div class="col-lg-3 col-md-12 my-2 text-center">
  賞味期限
  <%= render "public/reviews/rate_read_only", review: review, type: 'expiry_date_rating' %>
</div>
<div class="col-lg-3 col-md-12 my-2 text-center">
  おいしさ
  <%= render "public/reviews/rate_read_only", review: review, type: 'taste_rating' %>
</div>
<div class="col-lg-3 col-md-12 my-2 text-center">
  おつまみ
  <%= render "public/reviews/rate_read_only", review: review, type: 'snack_rating' %>
</div>
<div class="col-lg-3 col-md-12 my-2 text-center">
  アウトドア
  <%= render "public/reviews/rate_read_only", review: review, type: 'outdoor_rating' %>
</div>