@use '~bootstrap/scss/bootstrap';

.footer_adjustments {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-image {
  width: 750px;
  height: 300px;
  background-size: cover;
  background-image: url("../../assets/images/fotor-ai-top-image.jpg");
  margin-bottom: 10px;
}

.concept-text {
  color: #fff;
  font-family: "Hannari";
  background-color: rgba(115, 80, 50, 0.8);
}