<footer class="mt-auto h-auto footer">
  <div class="container">
    <div class="row">
      <div class="col pt-3 text-center font-italic text-light">
        <p>Canned Food Galaxy</p>
      </div>
    </div>
  </div>
</footer>